html {
    box-sizing: border-box;
    font-size: 16px;
}
* {
    margin: 0;
    padding: 0;
    font-family: inherit;
}
  *, *:before, *:after {
    box-sizing: inherit;
}

.fb-s-btwn {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    & > * {
        flex: 1 100%;
    }
}
.fi-50p {
    flex: 1 50%;
}
.fb-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    & > * {
        flex: 1 100%;
    }
}
.hidden-nav {
    display: none;
}

.title-container {
    height: 200vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    // justify-content: center;
    // align-items: center;
    background-image: linear-gradient(rgb(150,0,0), rgb(150,150,0));
    background-attachment: fixed;
    position: relative;
    overflow: hidden;

    &__text {
        flex: 0 1 auto;
        font-size: 60px;
        // position: fixed;
        color: #ddf;
        padding: 0 15px;
        z-index: 1;
        transform: translate3d(0,0,0);

    }

    &__img {
        position: absolute;
        z-index: 0;
        height: 30vh;
        min-height: 150px;
        transform: translate3d(calc(-50% + 50vw),calc(-50% + 50vh),0);
        // transition: transform 100ms;

        &--moon {
            mix-blend-mode: difference;
            transform: translate3d(calc(50vw + 50%),0,0);
    }
        &--sun {
            mix-blend-mode: overlay;

        }
    }
}

.text-container {
    height: 100vh;
}

@keyframes toDots {
    from {transform: scaleX(1.0);}
    to {transform: scaleX(0.4);}
}
.bars-anim {
    animation-name: toDots;
    animation-duration: 1s;
}
@keyframes toBars {
    from {transform: scaleX(1.0);}
    to {transform: scaleX(4.0);}
}
.dots-anim {
    animation-name: toBars;
    animation-duration: 1s;
}
.fa {
    font-size: 30px;
}
/* * {
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-family: inherit;
}

html {
    font-size: 62.5%;
}*/