html {
    box-sizing: border-box;
    font-size: 16px;
}
* {
    margin: 0;
    padding: 0;
    font-family: inherit;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

:root {
    --courtains-bg-1: #a71a40, #941739, #821432, #6f112b, #5d0f24, #4a0c1c, #380915 10px, #4a0c1c, #5d0f24, #6f112b, #821432, #941739, #a71a40;
    --sky-bg-1: #
}

.fb-s-btwn {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    & > * {
        flex: 1 100%;
    }
}
.fi-50p {
    flex: 1 50%;
}
.fb-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    & > * {
        flex: 1 100%;
    }
}
.hidden-nav {
    display: none;
}

.title {
    height: 150vh;
    background-image: linear-gradient(2deg, red, purple, orange, yellow, green, blue);
    background-size: 3000%;
    animation: trip 1s ease-in-out infinite alternate;


    &__container {
        height: 100vh;
        position: sticky;
        top: 0;
        background-image: repeating-linear-gradient(90deg, var(--courtains-bg-1));
        background-image: radial-gradient(circle at 100% 50%, var(--sky-bg-1) 50vw);
        // background-size: 100vw 800vh;
        
        &__img {
            position: absolute;
            // transform: translate3d(50%, 50%, 0) rotate(10deg);
            height: Max(34vw, 300px);
            max-height: 750px;
            animation: enter 1.5s ease-in-out infinite alternate;
            transform-origin: 50% 0;

            &--moon {
                transform: translate3d(50%, 50%, 0);

            }
        }
    }
}

@keyframes enter {
    0% {
        transform: translate3d(0, 0, 0) rotate(10deg);
    }
    100% {
        transform: translate3d(0, 50vw, 0) rotate(-10deg);
    }
}
@keyframes trip {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}

.text-container {
    height: 300vh;
}
/* * {
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-family: inherit;
}

html {
    font-size: 62.5%;
}*/
